.my-loader {
    background-image: url(../images/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
